<div class="flex justify-content-between w-full">
  <div></div>
  <select aria-label="Selected Language" (change)="changeLang($event)">
    <option value="es">Español</option>
    <option value="de">Aleman</option>
    <option value="en">English</option>
  </select>
</div>
<div class="card flex flex-column md:justify-content-between row-gap-3">
  <p-button label="Button 1"></p-button>
  <p-button styleClass="p-button-secondary" label="Button 2"></p-button>
  <p-button styleClass="p-button-help" label="Button 3"></p-button>
</div>
<h2>{{ 'table.TITLE' | translate }}</h2>
<p>{{ 'table.DESCRIPTION' | translate }}</p>
